<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.hw01.dao.QuestionCsvDao">
        <constructor-arg name="csvPath" value="questions.csv"/> <!--Захаркодил путь-->
    </bean>

    <bean id="statisticCalculator" class="ru.otus.hw01.service.statistic.DefaultStatisticCalculator"/>

    <bean id="interactionService" class="ru.otus.hw01.interaction.console.ExamConsoleInteractionService">
        <constructor-arg name="statisticCalculator" ref="statisticCalculator"/>
    </bean>

    <bean id="examService" class="ru.otus.hw01.service.DefaultExamService">
        <constructor-arg name="dao" ref="questionDao"/>
        <constructor-arg name="interactionService" ref="interactionService"/>
    </bean>
</beans>
