<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionValidator" class="ru.otus.hw02.service.validator.DefaultQuestionValidator"/>

    <bean id="questionDao" class="ru.otus.hw02.dao.QuestionCsvDao">
        <constructor-arg name="csvPath" value="questions.csv"/> <!--Захаркодил путь-->
        <constructor-arg name="questionValidator" ref="questionValidator"/>
    </bean>

    <bean id="ioStringService" class="ru.otus.hw02.service.io.ConsoleIOStringService"/>

    <bean id="statisticCalculator" class="ru.otus.hw02.service.statistic.DefaultStatisticCalculator"/>

    <bean id="interactionService" class="ru.otus.hw02.service.interaction.console.ExamConsoleInteractionService">
        <constructor-arg name="statisticCalculator" ref="statisticCalculator"/>
        <constructor-arg name="ioStringService" ref="ioStringService"/>
    </bean>

    <bean id="examService" class="ru.otus.hw02.service.DefaultExamService">
        <constructor-arg name="dao" ref="questionDao"/>
        <constructor-arg name="interactionService" ref="interactionService"/>
    </bean>
</beans>
